body {
      margin: 60px auto;
      width: 70%;
      }
nav ul, footer ul {
       front-family: 'Helvetica', 'Arial', 'Sans-Serif';
       padding: 0px;
       list-style: none;
       front-weight: bold;
}
a {
     text-decoration: none;
     color: #999;
}
a:hover {
text-decoration: underline;
}
h1 {
    front-size: 3em;
    front-family: 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    front-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
     margin: 20px auto 40px;
     front-size: 1.5em;
}
ul.posts li {
     list-style: none;
     }
